/* HOMEPAGE */

html {
  background-color: black;
}

body {
  color: white;
}

.whole {
  background: url('../images/background2.png') no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.hidden {
  display: none !important;
}

.appearFullSection {
  opacity: 0;
  transition: opacity .5s ease-out;
}

.appearFullSection.show {
  opacity: 1;
}

.firstScreen {
  height: 100vh;
}

.homeNav {
  display: flex;
  width: 95vw;
  margin: 0 auto;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 56px;
}

.navPagesContainer {
  display: flex;
  align-items: flex-start;
  gap: 56px;
}

.joinUs {
  color: #000;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
}

.joinLink {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

.navItem {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

.logo {
  text-decoration: none;
  color: inherit;
}

.navLink {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
  background-size: 0% .1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.navLink:hover,
.navLink:focus,
.navLink:active {
  background-size: 100% 0.1em;
}

.navJoinContainer p {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.navJoinContainer:hover p {
  top: -9px;
}

.firstScreenContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 100px auto 0 auto;
}

.introduction {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

h1 {
  font-family: Epilogue;
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

.introParagraph {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  width: 532px;
  margin: 0;
}

.button {
  position: relative;
  overflow: hidden;
  height: 58px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 130px;
  background: #1E2560;
  background-size: 400%;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}


.button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(90deg, #6100FF 18.59%, #3045FF 100%);
  transition: all 0.475s;
}

.spinningBrain {
  height: 500px;
  width: 500px;
}

.secondScreen {
  height: 100vh;
}

.secondScreenContainer {
  position: relative;
}

.neurons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  margin: auto;
  width: 64%;
}

.text-container {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 18rem;
  top: 2rem;
  background-color: rgb(41, 41, 41, 0.8);
  padding: 0 1rem;
}

.aboutParagraph {
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 163%;
  text-align: center;
}


.thirdScreen {
  min-height: fit-content;
  height: 120vh;
  display: flex;
  text-align: center;
}

.labBoxes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 90%;
  gap: 26px;
}

h3 {
  color: white;
  text-align: center;
  font-family: Epilogue;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.8px;
}

.LabBox {
  height: fit-content;
  display: flex;
  width: 646px;
  flex-grow: 1;
  padding: 32px 40px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: #0F1327;
  opacity: .8;
}

.labBoxTitle {
  margin: 0;
}

.openDescription {
  display: flex;
  width: fit-content;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 67px;
  padding-right: 67px;
  align-items: center;
  gap: 32px;
  border-radius: 130px;
  border: none;
  background: #1E2560;
}

.descriptionOnClick {
  display: none;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.descriptionText {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;

}

.closeDescription {
  display: flex;
  width: fit-content;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
  gap: 40px;
  border-radius: 130px;
  border: none;
  background: #1E2560;
  color: white;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

.fourthScreen {
  height: 100vh;
  text-align: center;
}

.diagramHeader {
  margin-bottom: 20px;
}

.diagramFirstRow {
  display: flex;
  align-items: center;
  gap: 23px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
}

.diagramSecondRow {
  display: flex;
  margin-left: 230px;
  margin-right: 100px;
}

.diagramArrowRow {
  display: flex;
  gap: 169px;
  margin-left: 371px;
  margin-right: 100px;
}

.diagramText {
  fill: #FFFFFF;
  text-align: center;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.diagramTextRed {
  fill: #FF2626;
  text-align: center;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.interventionColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.diagramTextSmall {
  fill: white;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.hoverIcon:hover {
  transform: scale(1.1);
  transform-origin: 50% 50%;
  transition: all ease-in-out 20ms;
}


.scrollSectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.projectsHeader {
  color: white;
}

.headerAndButton {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
}

.arrowButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.rightArrow,
.leftArrow {
  position: relative;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  border: 1px solid #FFFFFF;
  background: none;
  cursor: pointer;
}

.leftArrowImage,
.rightArrowImage {
  position: absolute;
  left: 12px;
  top: 17px;

}

H2 {
  font-family: Epilogue;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 48.8px;
  margin: 0;
}

.projectsScroller {
  margin-left: 100px;
}


.project,
.projectVid {
  position: relative;
  color: white;
  margin-left: 24px;
  overflow: hidden;
}

.vid {
  width: 372px;
  height: 457px;
  object-fit: fill;
}

.projectLabel {
  position: absolute;
  font-family: Epilogue;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  opacity: 0;
  height: 457px;
  width: 372px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 66.04%, rgba(0, 0, 0, 0.70) 82.13%);
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.projectLabelText {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.project .projectLabel:hover {
  opacity: 1;
}

.projectVid .projectLabel:hover {
  opacity: 1;
}

.project .projectLabel .projectLabelText {
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.projectVid .projectLabel .projectLabelText {
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.fifthScreen {
  height: 100vh;
}

.bottomSection {
  background-color: white;
  border-radius: 40px 40px 0 0;
  padding-bottom: 40px;
}

.sixthScreen {
  height: 100vh;
  padding-top: 60px;
}

.eventHeader {
  color: #000000;
}

.rightArrowDark,
.leftArrowDark {
  position: relative;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  border: 1px solid #000000;
  background: none;
  cursor: pointer;
}

.eventsSlider {
  margin-left: 100px;
}

.event {
  position: relative;
  color: white;
  margin-left: 24px;
  overflow: hidden;
}

.eventImage {
  object-fit: cover;
}

.eventLabel {
  position: absolute;
  font-family: Epilogue;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  opacity: 0;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 66.04%, rgba(0, 0, 0, 0.70) 82.13%);
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.eventLabelText {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.event .eventLabel:hover {
  opacity: 1;
}

.event .eventLabel .eventLabelText {
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.footer {
  color: #1E2560;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.backgroundDots {
  position: relative;
  top: -67px;
  background-image: url('../images/lightBackgroundDots.svg');
  height: 321px;
}

.footerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.contactGrid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.contactItem {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.contactItem:hover {
  transform: scale(1.025);
}

.phone {
  padding-right: 32px;
  padding-bottom: 24px;
}

.email {
  padding-bottom: 24px;
}

.twitter {
  padding-right: 32px;
}

.contactIcon {
  height: 41.325px;
  width: 41.325px;
}

.contactText {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 238px;
}

.contactTextLink {
  color: #1E2560;
  text-decoration: none;
}

.footerNavContainer {
  display: flex;
  align-items: center;
  gap: 56px;
  padding-bottom: 10px;
}

.footerNavPagesContainer {
  display: flex;
  align-items: flex-start;
  gap: 56px;
}

.footerJoinUs {
  color: #FFFFFF;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #1E2560;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.25);
}

.footerJoinLink {
  color: #FFFFFF;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

.footerNavItem {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

.footerNavLink {
  color: #000000;
  text-decoration: none;
  background-image: linear-gradient(#000000, #000000);
  background-size: 0% .1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
}

.footerNavLink:hover,
.footerNavLink:focus,
.footerNavLink:active {
  background-size: 100% 0.1em;
}

.footerNavJoinContainer p {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.footerNavJoinContainer:hover p {
  top: -9px;
}

.footerLine {
  padding-top: 40px;
  padding-bottom: 40px;
}

.line {
  color: #1E2560;
}

.signatureRow {
  width: 100%;
}

.signature {
  display: flex;
  flex-direction: row;
  gap: 4px;
  text-align: center;
  margin: 0 auto;
}

.signature p {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name {
  text-decoration-line: underline;
}


/* PROJECT PAGE */

.projectsWhole {
  background: url(../images/projectsBackground.png) no-repeat;
  background-color: #000000;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: -341px;
  height: 100%;
}

.projectIntroSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 168px;
  margin-left: 188px;
  margin-top: 5px;
  gap: 92px;
}

.projectSpinner {
  width: 591px;
  height: 561px;
}

.projectSpinnerVideo {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}

.projectTypeFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  padding: 2px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.activeFilter {
  border-radius: 50px;
  background: var(--Gradient, linear-gradient(90deg, #6100FF 18.6%, #3045FF 99.96%));
}

.inactiveFilter {
  border-radius: 50px;
  border: 2px solid var(--White, #FFF);
  opacity: 0.6;
}

.filterText {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.projects {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 33px;
  justify-content: center;
  justify-items: center;
  margin-bottom: 140px;
}

.projectBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 640px;
  height: 543px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.projectDetailsBox {
  background-color: #0F1327;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 640px;
  height: 543px;
  align-items: center;
}

.projectDarkGradient {
  position: absolute;
  width: 640px;
  height: 543px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 53.89%, rgba(0, 0, 0, 0.70) 84.09%);
}

.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 23px;
  margin-top: 21px;
  margin-bottom: 22px;
  justify-content: space-between;
  height: -webkit-fill-available;
}

.projectDetailsContent {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projectTitle {
  position: relative;
  display: flex;
  width: 594px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  top: 342px;
  left: 23px;
}

.projectTitleDetails {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.projectTypeText {
  color: #FFF;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 163%;
  letter-spacing: 3.69px;
  text-transform: uppercase;
  margin: 0;
}

.projectTypeTextDetails {
  background: linear-gradient(90deg, #6100FF 0.55%, #3045FF 20.78%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 163%;
  letter-spacing: 3.69px;
  text-transform: uppercase;
  margin: 0;
}

.projectBlurb {
  color: #FFF;
  font-family: Epilogue;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  min-height: 95px;
  margin: 0;
  line-height: 143%;
}

.projectDetailsBlurb {
  color: #FFF;
  font-family: Epilogue;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  line-height: 143%;
}

.projectDescription {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  margin-top: 0;
  margin-bottom: 0;
}

.projectDetailsButtonContent {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  margin-top: 0;
}

.projectDetailButton {
  color: #FFFFFF;
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
  background-size: 0% .075em;
  background-position-y: 95%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.projectDetailButton:hover,
.projectDetailButton:focus,
.projectDetailButton:active {
  background-size: 100% 0.075em;
}

.projectCloseDetailsButtonContent {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.projectCloseDetailsButton {
  color: #FFFFFF;
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
  background-size: 100% .075em;
  background-position-y: 105%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-position-y 0.3s ease-in-out;
}

.projectCloseDetailsButton:hover,
.projectCloseDetailsButton:focus,
.projectCloseDetailsButton:active {
  background-position-y: 95%;
}

.bottomSectionProjects {
  background-color: white;
  border-radius: 0;
  padding-top: 40px;
  padding-bottom: 40px;
}


/* TEAM PAGE */

.teamWhole {
  background-color: #000000;
}

.teamIntro {
  background: linear-gradient(90deg, #000 0.05%, rgba(0, 0, 0, 0.00) 9.92%), linear-gradient(270deg, #000 0.37%, rgba(0, 0, 0, 0.00) 9.56%), linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 12.98%), linear-gradient(109deg, rgba(0, 0, 0, 0.00) 71.27%, #000 98.02%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 84.55%, #000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.80) 48.41%, rgba(0, 0, 0, 0.00) 100.67%), url(/images/team/teamHeaderBackground.png);
  background-size: cover;
  height: 70vh;
  width: 100%;
}

.teamImgContainer {
  display: inline-block;
}

.teamImgContainer img {
  display: block;
  width: 100%;
  height: 100vh;
  opacity: .8;
}

.teamIntroduction {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
}

.anchorLink {
  text-decoration: none;
}

.teamAnchor {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  border: 2px solid white;
}

.teamAnchor:hover {
  background-color: white;
}

.teamAnchorText {
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  padding: 16px 32px;
}

.teamAnchorText:hover {
  color: black;
}

.anchorRow {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.anchorColumns {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  opacity: .8;
}

.allPeople {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
}

.levelSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 86%;
  margin: 0 auto;
}

.peopleInSection {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.levelHeader {
  align-self: stretch;
}

.personSection {
  display: flex;
  flex-direction: row;
  gap: 52px;
}

.blurb {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blurbText {
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  margin: 0;
}

.headshot {
  position: relative;
  color: white;
  height: 419px;
}

.headshotImage {
  object-fit: cover;
}

.headshotLabel {
  position: absolute;
  font-family: Epilogue;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 70.09%, rgba(0, 0, 0, 0.80) 85.81%);
  bottom: 0px;
  left: 0px;
}

.headshotLabelText {
  bottom: -8px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: max-content;
}

.principal {
  background: #000000;
}

.principalButton {
  background: #1E2560;
}

.collaboratingFaculty {
  background: rgba(30, 37, 96, 0.25);
}

.postdoctoralResearchFellows {
  background: rgba(30, 37, 96, 0.38);
}

.collaboratingPhDCandidates {
  background: rgba(30, 37, 96, 0.50);
}

.collaboratingMastersStudents {
  background: rgba(30, 37, 96, 0.63);
}

.dataScientists {
  background: rgba(30, 37, 96, 0.75);
}

.dataScientistButton {
  background: #070A29;
}

.researchTechniciansAndClinicalResearchCoordinators {
  background: rgba(30, 37, 96, 0.88);
}

.researchTechniciansAndClinicalResearchCoordinatorsButton {
  background: #070A29;
}

.interns {
  background: #1E2560;
}

.internButton {
  background: #070A29;
}

.alumniPeopleInSection {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: -webkit-fill-available;
}

h4 {
  font-family: Epilogue;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
  margin: 0;
}

.alumniPersonSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nameAndSchool {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.alumniSchool {
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  opacity: 0.6;
}

.alumniButton {
  background: #1E2560;
  padding: 16px 32px;
}


/* MEDIA PAGE */

a {
  text-decoration: none;
  color: white;
}

.mediaWhole {
  background-color: #000000;
}

.mediaIntro {
  background: linear-gradient(90deg, #000 0.05%, rgba(0, 0, 0, 0.00) 9.92%), linear-gradient(270deg, #000 0.37%, rgba(0, 0, 0, 0.00) 9.56%), linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 12.98%), linear-gradient(109deg, rgba(0, 0, 0, 0.00) 71.27%, #000 98.02%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 84.55%, #000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.80) 48.41%, rgba(0, 0, 0, 0.00) 100.67%), url(/images/team/mediaHeaderBackground.png);
  background-size: cover;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.mediaImgContainer {
  position: relative;
  display: inline-block;
}

.mediaImgContainer img {
  display: block;
  width: 100%;
  height: auto;
}

.mediaIntroduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.anchorLink {
  text-decoration: none;
}

.allMediaSections {
  display: flex;
  flex-direction: column;
  margin: 60px 0;
  gap: 108px;
}

.mediaSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 86%;
  margin: 0 auto;
}

.mediaSectionHeader {
  align-self: stretch;
}

.pubSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.twitterPlaceholder {
  width: 316px;
  height: 946px;
  background-color: white;
}

.pubBoxes {
  display: grid;
  grid-template-rows: 295px 295px 295px;
  grid-template-columns: 396px 396px;
  grid-gap: 32px;
}

.pubBox {
  background: url(/images/media/pubBoxBackground.png);
  height: 295px;
  width: 396px;
  font-family: Epilogue;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}

.pubText {
  padding: 36px;
}

.flyersSection {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.flyerBox {
  position: relative;
  color: white;
  height: 419px;
}

.flyerImage {
  object-fit: cover;
}

.flyerLabel {
  position: absolute;
  font-family: Epilogue;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  height: -webkit-fill-available;
  width: -webkit-fill-available;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 30.09%, rgba(0, 0, 0, 0.80) 80.81%);
  bottom: 0px;
  left: 0px;
}

.flyerLabelText {
  bottom: 12px;
  position: absolute;
  left: 12px;
  max-width: 290px;
}

.scrollingConferencesSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conferenceHeader {
  margin-left: 100px;
}

.mediaScrollSectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
}

.achemsScroller,
.eurocimScroller {
  margin-left: 100px;
  margin-right: 100px;
}

.achemsHeader {
  color: #1652F0;
}

.eurocimHeader {
  color: #6100FF;
}

.abstract {
  display: flex;
  flex-direction: column;
  width: 37vw;
  margin-right: 24px;
  height: 336px;
  background-color: #0F1327;
  background: url(/images/media/achemsBackground.png);
  gap: 12px;
  padding: 32px;
  font-size: 22px;
  font-family: epilogue;
  line-height: 143%;
}

.abstractBig {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-right: 24px;
  height: 336px;
  background-color: #0F1327;
  background: url(/images/media/achemsBackground.png);
  gap: 12px;
  padding: 32px;
  font-size: 22px;
  font-family: epilogue;
  line-height: 143%;
}

.abstractParagraphOne,
.abstractHeader {
  margin: 0;
  margin-bottom: 12px;
}

.abstractParagraphTwo {
  font-style: italic;
  margin: 0;
  margin-bottom: 12px;
}

.abstractEurocim {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-right: 24px;
  background-color: #0F1327;
  background: url(/images/media/eurocimBackground.png);
  gap: 12px;
  padding: 32px;
  font-size: 22px;
  font-family: epilogue;
  line-height: 143%;
}


.eurocimParagraph {
  margin: 0;
}

.eurocimParagraphItalic {
  margin: 0;
  font-style: italic;
}

.mediaBottomPictures {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  width: 86%;
  margin: 0 auto 80px auto;
}

.mediaBottomPicture {
  width: 42vw;
}